/*
	Name: Ethan Gonta
	File: style.css
	Date: February 23rd, 2024
	 Typsetting a community school page.
     */

/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* MY CODE BELOW */

/* Site-wide font */
p {
  font-size: 10px
}

/* Headings */
h1, h2 {
  font size: 16px;
  letter-spacing: 1.8;
}

/* Body text */
body {
  line-height: 1.2;
  letter-spacing: 1.8;
  word-spacing: 1.8;
}

/* Top level heading  */
h1 {
  text-align: center;
}

/* First paragraph of each heading */
section {
  text-indentation: 20px;
}
