/*
	Name: Ethan Gonta
	File: style.css
	Date: February 23rd, 2024
	 Typsetting a community school page.
     */

/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* MY CODE BELOW */

/* Site-wide font */
html {
  font-size: 10px
}

/* Headings */
h1, h2 {
  font-size: 18px;
  letter-spacing: 1.2px;
}

/* Body text */
body {
  line-height: 1.2;
  letter-spacing: 1.2px;
  word-spacing: 1.8px;
}

/* Top level heading  */
h1 {
  text-align: center;
}

/* First paragraph of each heading */
section {
  text-indent: 20px;
}

/* link and visited link */
a:link, a:visited {
  color: brown;
  text-decoration: underline;
}

/* Focus and hovering over links */
a:focus, a:hover {
  color: #E97451;
  text-decoration: none;
}
 
/* Focus links */
a:focus {
  outline: none;
}

/* Active links */
a:active {
  background-color: #00A36C;
}

/* give all external links an external icon */ 
a {
  background-image: url("external-link-52.png");
  background-position: right;
  background-size: 6px;
  padding-right: 7px;
  background-repeat: no-repeat;
}

/*
ul {
  line-height: 1.2px;
}

/* List */
li {
  list-style-type: square
}

/* navbar */
nav {
  display: block;
  width: 130px;
  background-color: #909090;
  text-align: center;
  padding: 0
}


