/* 
	Name: Ethan Gonta
	File: index.html
	Date: February 22nd, 2024
	 A cool looking box
	*/

html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
  width: 200px;
  height: 200px;
  padding: 3em;
  text-align: center;
  font-size: 18px;
  background-color: red;
  color: white;
  border: 2px solid black;
  background: linear-gradient(to bottom right, red, black 100%);
  background: linear-gradient(to top left, red, white 300%);
  box-shadow: 10px 10px 10px black;
}

