/* 
	Name: Ethan Gonta
	File: index.html
	Date: February 22nd, 2024
	 A cool looking box
	*/

html {
  font-family: sans-serif;
}

/* Your CSS below here */

div {
  width: 200px;
  height: 200px;
  padding: 3em;
  text-align: center;
  font-size: 18px;
  background-color: #36013f;
  color: #FFD700;

}
